@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Tiro Gurmukhi', serif;
}

header {
  background-color: rgb(246, 172, 61);
  box-shadow: 1px 2px #535353;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 236, 202);
}

#brewery-names-nav {
  display: flex;
  justify-content: space-evenly;
  border: 1px;
  border-style: solid;
  padding: 0.5rem;
  width: 46rem;
  box-shadow: 1px 2px #535353;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 30rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

li {
  padding: 5px;
  margin: 5px;
  border-style: solid;
}

header {
  display: flex;
  justify-content: center;
}

#nav-location {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

#card-details-brew {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  border-style: groove;
  box-shadow: 3px 5px #535353;
  padding: 1rem;
  width: 26rem;
}

a {
  margin: 0.5rem;
  padding: 0.5rem;
}

p {
  margin: 0.5rem;
  padding: 0.5rem;
}

main {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  flex-flow: column;
}

#random-brewery-button {
  justify-content: center;
  display: flex;
}

#random-brewery-button {
  display: flex;
  justify-content: center;
  margin: 0.5rem
}

#brewry-details {
    display: flex;
    justify-content: center;
}

#random-button-area-div{
    display: flex;
    justify-content: center;
}

button {
    box-shadow: 1px 2px #535353;
}